---
import Footer from "../components/Footer.astro";
import Home from "../components/Home.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";
import Works from "../components/Works.astro";
import Services from "../components/Services.astro";
import Banner from "../components/Banner.astro";
import Slider from "../components/Slider.astro";
---

<Layout title="Sunetya">
  <Navbar />

  <main class="">
    <div class="max-w-7xl mx-auto px-6">
      <Home />
    </div>

    <Slider />
    <div class="max-w-7xl mx-auto px-6">
      <About />
      <Services />
      <Works />
      <Banner />
      <Footer />
    </div>
  </main>
</Layout>
