---
import Button from "./ui/Button.astro";
import Section from "./ui/Section.astro";
---

<Section id="about" title="¿Quiénes Somos?">
  <p>
    En <strong>Sunetya</strong>, nos apasiona el diseño y desarrollo web.
    Creamos páginas web profesionales y personalizadas para negocios en Perú,
    enfocándonos en la calidad, la innovación y la satisfacción del cliente.
    Transformamos tus ideas en experiencias digitales impactantes.
  </p>
  <div class="flex justify-center">
    <Button href="">Contáctanos para saber más</Button>
  </div>
</Section>

<style>
  p {
    @apply text-slate-500 text-4xl text-center;
  }
  strong {
    @apply text-slate-200;
  }
</style>
