---
import Button from "./ui/Button.astro";
import Section from "./ui/Section.astro";
---

<Section id="about" title="¿Quién Soy?">
  <p>
    ¡Hola! Soy <strong>Esteban Salas</strong>, un programador web apasionado por crear soluciones digitales innovadoras y funcionales. Este portafolio es una muestra de mi trabajo y habilidades en desarrollo web, abarcando desde el diseño de interfaces intuitivas hasta la implementación de aplicaciones web complejas.
  </p>
  <div class="flex justify-center">
    <Button href="">Contáctame</Button>
  </div>
  <div
    class="absolute -z-50 top-0 left-64 bg-violet-500/20 w-96 h-96 rounded-full blur-[100px]"
  >
  </div>
</Section>

<style>
  p {
    @apply text-slate-500 md:text-4xl text-xl text-center;
  }
  strong {
    @apply text-slate-200;
  }
</style>
