<section class="grid grid-cols-2">
  <h1 class="text-neutral-600 text-2xl uppercase">¿Quiénes Somos?</h1>
  <div>
    <p class="text-neutral-600 text-5xl mb-12">
      En Sunetya, somos apasionados por el diseño y el desarrollo web. Nos
      dedicamos a crear páginas web profesionales y personalizadas para negocios
      en Perú.
    </p>
    <p class="text-neutral-600 text-5xl mb-12">
      Con un enfoque en la calidad, la innovación y la satisfacción del cliente,
      trabajamos para transformar tus ideas en experiencias digitales
      impactantes.
    </p>
    <div class="flex justify-center">
      <a class="bg-purple-400 text-white py-3 px-6 rounded-full" href=""
        >Contáctanos para saber más</a
      >
    </div>
  </div>
</section>
