<div
  class="absolute -z-50 top-96 left-96 bg-purple-500/20 w-96 h-96 rounded-full blur-[100px]"
>
</div>
<div
  class="absolute -z-50 top-0 right-96 bg-violet-500/20 w-96 h-96 rounded-full blur-[100px]"
>
</div>
