---
import { links } from "../data/links";
import Button from "./ui/Button.astro";
---

<header class="navbar fixed z-50 inset-x-0 backdrop-blur">
  <div class="py-3 px-6 grid grid-cols-3">
    <div class="flex justify-start items-center">
      <a class="text-slate-200 text-xl font-bold" href="/">Sunetya.</a>
    </div>

    <div class="flex justify-center items-center">
      <nav class="flex gap-3">
        {
          links.map(({ title, href }) => (
            <a
              class="text-slate-400 hover:text-slate-200 font-semibold py-3 px-6 transition-colors"
              href={href}
            >
              {title}
            </a>
          ))
        }
      </nav>
    </div>

    <div class="flex justify-end items-center">
      <a
        class="py-3 px-6 bg-slate-900 hover:bg-slate-800 text-white rounded-full"
        href="">Contactanos</a
      >
    </div>
  </div>
</header>

<style>
  .navbar {
    animation: down 0.5s both 1s ease-out;
  }

  @keyframes down {
    from {
      opacity: 0;
    }
  }
</style>
