---
import { links } from "../data/links";
import Button from "./ui/Button.astro";
---

<header class="fixed inset-x-0">
  <div class="py-3 px-6 grid grid-cols-3">
    <div class="flex justify-start items-center">
      <h2 class="text-neutral-200 text-xl font-bold">Sunetya.</h2>
    </div>

    <div class="flex justify-center items-center">
      <nav class="flex gap-3">
        {
          links.map(({ title, href }) => (
            <a
              class="text-neutral-400 hover:text-neutral-200 font-semibold py-3 px-6 transition-colors"
              href={href}
            >
              {title}
            </a>
          ))
        }
      </nav>
    </div>

    <div class="flex justify-end items-center">
      <a
        class="py-3 px-6 bg-white/10 hover:bg-white/20 text-white rounded-full"
        href="">Contactanos</a
      >
    </div>
  </div>
</header>
