---
import { services } from "../data/services";
import Section from "./ui/Section.astro";
---

<Section
  id="services"
  title="Servicios"
  subtitle="Impulsa tu Negocio con Nuestros Servicios Especializados"
>
  <div class="grid grid-cols-3">
    {
      services.map(({ title, description }) => (
        <article class="flex flex-col gap-6 p-6">
          <h3 class="text-neutral-300 text-2xl font-bold">{title}</h3>
          <p class="text-neutral-400 text-balance">{description}</p>
        </article>
      ))
    }
  </div>
</Section>
