---
import { services } from "../data/services";
---

<section id="services" class="py-24">
  <header class="py-12">
    <h2 class="text-4xl font-bold">Servicios</h2>
  </header>
  <div>
    {
      services.map(({ title, description, image }) => (
        <article class="flex even:flex-row-reverse gap-24">
          <div class="w-1/2 flex flex-col justify-center gap-12">
            <h3 class="text-sky-900 text-5xl font-bold">{title}</h3>
            <p class="text-sky-800 text-2xl text-balance">{description}</p>
          </div>
          <div class="w-1/2">
            <img class="aspect-square object-contain" src={image} alt="" />
          </div>
        </article>
      ))
    }
  </div>
</section>
