---
import { services } from "../data/services";
import ServiceCard from "./ServiceCard.astro";
import Section from "./ui/Section.astro";
---

<Section
  id="services"
  title="Servicios"
  subtitle="Impulsa tu Negocio con Nuestros Servicios Especializados"
>
  <div class="grid grid-cols-3 gap-6">
    {
      services.map(({ title, description, link }) => (
        <ServiceCard title={title} description={description} link={link} />
      ))
    }
  </div>
  <div
    class="absolute -z-50 top-0 right-96 bg-violet-500/20 w-96 h-96 rounded-full blur-[100px]"
  >
  </div>
</Section>
