---
interface Props{
  name:string;
  image:string;
  width:number;
  classN?:string
}

const {name,image,width, classN} = Astro.props;
---
<!-- <div class="bg-gradient-to-r from-red-500  to-fuchsia-700  bg-clip-tex rounded-primary  p-[2px]">


</div> -->
<article class="skill bg-primary h-full  hover:bg-gray-900 text-white border-2   flex flex-col justify-center items-center md:flex-row md:justify-start  gap-4 p-4 " >
    <figure>
        <img src={image} alt="gmail" width={width} >
    </figure>
    <h3>{name}</h3>
</article>

<style>
   .box-skill{
    background:var(--border-color);
    position: relative;
    padding: 2px;
    height: 100%;
   }

  article {
    @apply bg-slate-900/10 p-6 border border-slate-900 rounded-3xl;
  }
</style>