---
const projects = [
  {
    url: "https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg",
  },
  {
    url: "https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg",
  },
  {
    url: "https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg",
  },
  {
    url: "https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg",
  },
];
---

<section class="py-24 flex flex-col gap-12">
  <div class="slider-right flex gap-12 h-96">
    {
      projects.map(({ url }) => (
        <div class="aspect-video">
          <img class="rounded-xl w-full h-full object-cover" src={url} alt="" />
        </div>
      ))
    }
  </div>
  <div class="slider-left flex gap-12 h-96">
    {
      projects.map(({ url }) => (
        <div class="aspect-video">
          <img class="rounded-xl w-full h-full object-cover" src={url} alt="" />
        </div>
      ))
    }
  </div>
</section>
<style>
  .slider-right {
    animation: slider auto linear both;
    animation-timeline: scroll(root);
    animation-range: 0% 100%;
  }
  .slider-left {
    animation: slider auto linear both reverse;
    animation-timeline: scroll(root);
    animation-range: 0% 100%;
  }

  @keyframes slider {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
