---
const url_base = "./images/section-carusel";

const projects_up = [
  {
    url: url_base + "/dentlife/services.webp",
  },
  {
    url: url_base + "/gigamas/hero.webp",
  },
  {
    url: url_base + "/gigamas/cable_carmen.webp",
  },
  {
    url: url_base + "/dentlife/hero.webp",
  },
];
const projects_down = [
  {
    url: url_base + "/dentlife/hero.webp",
  },
  {
    url: url_base + "/bravazo/hero.webp",
  },
  {
    url: url_base + "/compusalas/hero.webp",
  },
  {
    url: url_base + "/dentlife/services.webp",
  },
];
---

<section
  class="md:py-24 py-12 flex flex-col md:gap-12 gap-6 w-full overflow-hidden"
>
  <div class="slider-right flex md:gap-12 gap-6 md:h-80 h-40">
    {
      projects_up.map(({ url }) => (
        <div class="aspect-video ">
          <img
            class="rounded-xl w-full h-full object-cover object-top"
            src={url}
            alt=""
          />
        </div>
      ))
    }
  </div>
  <div class="slider-left flex md:gap-12 gap-6 md:h-80 h-40">
    {
      projects_down.map(({ url }) => (
        <div class="aspect-video ">
          <img
            class="rounded-xl w-full h-full object-cover object-top"
            src={url}
            alt=""
          />
        </div>
      ))
    }
  </div>
</section>
<style>
  .slider-right {
    animation: slider1 auto linear both;
    animation-timeline: scroll(root);
    animation-range: 0% 100%;
  }
  .slider-left {
    animation: slider2 auto linear both;
    animation-timeline: scroll(root);
    animation-range: 0% 100%;
  }

  @keyframes slider1 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slider2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }
</style>
