---

---

<section class="flex gap-x-5 overflow-x-hidden" >
    <div class=" flex gap-x-10">
        <img class="rounded-xl" src="https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg" alt="">
        <img class="rounded-xl" src="https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg" alt="">
        <img class="rounded-xl" src="https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg" alt="">
        <img class="rounded-xl" src="https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg" alt="">
        <img class="rounded-xl" src="https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/advisor/in/wp-content/uploads/2022/03/monkey-g412399084_1280.jpg" alt="">
    </div>
</section>
<style>
    div{
        animation: slider auto linear both;
		animation-timeline: scroll(root);
		animation-range: 0 1500px;
    }

    @keyframes slider{
        1%{
            transform: translateX(-20%);
        }
        20%{
            transform: translateX(-100%);
        }
        40%{
            transform: translateX(-200%);
        }
        80%{
            transform: translateX(-300%);
        }
        100%{
            transform: translateX(-410%);
        }
    }
</style>

