<article class="flex flex-col gap-3">
  <img class="aspect-square bg-slate-900/50" src="" alt="" />

  <h3 class="text-slate-300 text-4xl">Titulo</h3>
  <p class="text-slate-400 text-xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error veniam
    dolorem possimus.
  </p>
</article>
