---
import WorkCard from "./WorkCard.astro";
import Section from "./ui/Section.astro";
---

<Section
  id="works"
  title="Nuestro Trabajo"
  subtitle="Proyectos que Reflejan Nuestra Pasión y Experiencia"
>
  <div class="grid md:grid-cols-2 gap-12">
    <WorkCard />
    <WorkCard />
  </div>
</Section>
