---
import WorkCard from "./WorkCard.astro";
import Section from "./ui/Section.astro";
import { works } from "../data/works";
---

<Section
  id="works"
  title="Nuestro Trabajo"
  subtitle="Proyectos que Reflejan Nuestra Pasión y Experiencia"
>
  <div class="grid md:grid-cols-2 gap-6">
    {
      works.map(({ title, description, image, link }) => (
        <WorkCard
          title={title}
          description={description}
          image={image}
          link={link}
        />
      ))
    }
  </div>
  <div
    class="absolute -z-50 top-0 left-64 bg-violet-500/20 w-96 h-96 rounded-full blur-[100px]"
  >
  </div>
  <div
    class="absolute -z-50 bottom-0 right-0 bg-indigo-500/20 w-96 h-96 rounded-full blur-[100px]"
  >
  </div>
</Section>
