---
import WorkCard from "./WorkCard.astro";
---

<section id="works" class="py-24">
  <header class="py-12">
    <h2 class="text-neutral-600 text-4xl">Nuestro Trabajo</h2>
  </header>
  <div class="grid md:grid-cols-2 gap-12">
    <WorkCard />
    <WorkCard />
  </div>
</section>
