---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  class="bg-gradient-to-r from-purple-600 to-violet-900 border border-violet-900 border-t-violet-600 border-r-violet-700 hover:brightness-110 text-slate-200 font-bold py-4 px-8 rounded-full transition-all"
  href={href}
>
  <slot />
</a>
