---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  class="bg-sky-500 text-white font-bold hover:bg-sky-600 py-4 px-8 rounded-full transition-colors"
  href={href}
>
  <slot />
</a>
