---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  class="bg-gradient-to-r from-purple-600 to-violet-900 border border-violet-900 hover:scale-105 text-neutral-200 font-bold py-4 px-8 rounded-full transition-all"
  href={href}
>
  <slot />
</a>
